/* Layout / basic page style */

body {
  background: rgba(109, 228, 242, .8);
  /*background: -webkit-linear-gradient(to bottom, rgba(109, 228, 242, 1) 0%, rgba(109, 228, 242, .5) 100%);*/
  /*background: -o-linear-gradient(to bottom, rgba(109, 228, 242, 1) 0%, rgba(109, 228, 242, .5) 100%);
  background: -moz-linear-gradient(to bottom, rgba(109, 228, 242, 1) 0%, rgba(109, 228, 242, .5) 100%);
  background: linear-gradient(to bottom, rgba(109, 228, 242, 1) 0%, rgba(109, 228, 242, .5) 100%);*/
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(108, 209, 125, 1);
}

input {
  margin: 7px auto;
  height: 60px;
  width: 60%;
  text-align: center;
  border-radius: 8px;
  border: 3px solid rgba(200, 200, 200, 1);
  font-size: 40px;
  line-height: 60px;
}

.intro {
  height: 410px;
  width: 55%;
  background: rgba(0, 0, 0, .6);
  border-radius: 30px;
  margin: 34px auto;
}

/* Typography */

h1 {
  font-size: 100px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-family:'Shrikhand', cursive, sans-serif;
  padding: 20px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
}

/* CSS Cloud */

.cloudLeft {
  z-index: -1;
  position: absolute;
  margin: 100px 20px;
}

.cloudRight {
  z-index: -1;
  position: absolute;
  margin: 200px 800px;
}

.cloudTop, .cloudBottom {
  height: 80px;
  width: 300px;
}

.cloud1, .cloud2, .cloud3, .cloud4 {
  float: left;
  animation: animCloud 80s linear infinite;
}

@keyframes animCloud {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(1500px);
  }
}

.cloud1 {
  height: 80px;
  width: 150px;
  background: rgba(255, 255, 255, 1);
  border-radius: 130px 130px 0 0;
}

.cloud2 {
  height: 70px;
  width: 130px;
  margin-top: 10px;
  margin-left: -50px;
  background: rgba(255, 255, 255, .8);
  border-radius: 250px 250px 0 0;
}

.cloud3 {
  height: 20px;
  width: 150px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0 0 100px 100px;
}

.cloud4 {
  height: 20px;
  width: 130px;
  margin-left: -50px;
  background: rgba(255, 255, 255, .8);
  border-radius: 0 0 100px 100px;
}

.sun {
  z-index: -2;
  position: fixed;
  margin: 30px 20px;
  right: 10px;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(242, 218, 136, 1) 0%, rgba(242, 218, 36, 1) 50%, rgba(242, 255, 36, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(242, 218, 136, 1) 0%, rgba(242, 218, 36, 1) 50%, rgba(242, 255, 36, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(242, 218, 136, 1) 0%, rgba(242, 218, 36, 1) 50%, rgba(242, 255, 36, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(242, 218, 136, 1) 0%, rgba(242, 218, 36, 1) 50%, rgba(242, 255, 36, 1) 100%);
}

/* Typography */

h1 {

}

h2 {
  font-size: 40px;
  margin: 20px 0;
  padding-top: 30px;
  font-family: 'Tauri', sans-serif;
  font-weight: 600;
  color: rgba(242, 218, 36, 1);
}

p.levelInfo {
  font-size: 28px;
  width: 80%;
  margin: 0 auto;
  line-height: 32px;
  font-family: 'Tauri', sans-serif;
  color: rgba(108, 209, 125, 1);
}

button.playLevel {
  height: 50px;
  width: 30%;
  font-size: 28px;
  font-weight: 400;
  margin: 40px 0 30px 0;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(108, 209, 125, 1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .6);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  letter-spacing: 2px;
}

/* on click play button CSS, used in app.js

div.intro, .cloudLeft, .cloudRight {
  display: none;
}

h1 {
  font-size: 16px;
  position: fixed;
  left: 10px;
  top: 10px;
}
*/
